/* Styles */
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAACcCAMAAACulCWiAAAAElBMVEUAAAD/zgDdAADrAADZAAD/3AApfWWWAAAAz0lEQVR4nO3QwVEDQBAEsZu1yT9lqI6ChxSC3gMAAAAAAAAAAAAAAAD4xz583nESTkIknIRIOAmRcBIi4SREwkmIhJMQCSchEk5CJJyESDgJkXASIuEkRMJJiISTEAknIRJOQiSchEg4CZFwEiLhJETCSYiEkxAJJyES/rwv3/fDzxuTMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAmRMAn5BcTHpY30S2AzAAAAAElFTkSuQmCC');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
     
}

h1, h2 {
    color: #e4d6d6;
    text-align: center;
}

p {
    line-height: 1.6;
    color: #ffffff;
    text-align: center;
}

.gallery-tittle {
    color:black;
}

.germany-landmark-gallery > div > img {
    width: 250px;
    height: 175px;

}

.germany-landmark-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 170px;
}

.germany-landmark-gallery > div > h3 {
    text-align: center;
    margin: auto;
}

body > p {
    color:black;
    text-align: center;
    margin: auto;
}

#top-p {
    padding-top: 30px;
}

#bottom-p::after {
    content: "⬇️";
}

#feedback {
    text-align: center;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

button {
    margin: 0;
    width: 50px;
    height: 25px;
    display: block;
    margin: -30px auto 10px auto;
    border-radius: 10px;
}

textarea {
    background-color: #181818;
    color: white;
}

textarea::placeholder {
    color:#e4d6d6;
}